body, p, td { 
	font: normal 12px/15px Tahoma,Verdana,Arial,sans-serif; color: white; background-color: black; margin: 0; padding: 0;
}

img { border: none; }

.cclear { 
	clear: both;
}
.container { width: 100%; }
.homepic {
	width: 100%;
	max-width:1000px;
	text-align:center;
	margin:0 auto 25px;
	position:relative;
}

.homepic img {
	width: 100%;
	max-width:929px;
}
#hot1 { width:20%; height:25%; position:absolute; top:21%; left:29%; }
#hot2 { width:20%; height:22%; position:absolute; top:23%; left:55%; }
#hot3 { width:20%; height:20%; position:absolute; top:55%; left:29%; }
.hots img { width:100%; height:100%; background-color:red; }

undefined > g:nth-child(1) > g:nth-child(2) > ellipse:nth-child(3)
ellipse {
	 opacity:0.1;
	 }

object#masthead {
	width:100%;
	text-align: center;
}
.masthead {
	font: normal 12px/14px Tahoma,Verdana,Arial,sans-serif;
	text-align: center;
	background-color: black;
	color: white;
	height: auto;
	clear: both;
	margin-bottom: 0;
	}
.masthead img {
	width:100%;
	max-width:1000px;
	}

.topNav {
	font: normal 12px/14px Tahoma,Verdana,Arial,sans-serif;
	text-align: left;
	background-color: black;
	color: pink;
	height: 12px;
	clear: both;
	margin: 0; padding: 0;
	border: 0;
	}

.thumbtext {
	font: normal 12px/14px Tahoma,Verdana,Arial,sans-serif;
	color: #666666;
	clear: left;
	margin: 5px 0;
	width: 158px;
	background-color: #ffffff;
	padding: 1px 5px;
}

.thumblink {
	font: normal 12px/18px Tahoma,Verdana,Arial,sans-serif;
	color: #ffffff;
	clear: left;
	margin: 5px 0;
	width: 158px;
	background-color: #000000;
	padding: 1px 5px;
}

.thumblink a {
	color: #ffffff;
	text-decoration: none;
}

.masthead span#mailLink a { color: pink; background-color: #000000; text-align: right; float: left;}
#mailLink a { color: pink; background-color: #000000;}

.thumbs {
	width: 190px;
	float: left;
	margin: 2px 0 0 3px;
	background-color: black;
}

.thumb {
	border: 1px solid #333333;
	background-repeat: no-repeat;
	background-position: top left;
	width: 40px; height: 40px;
	margin: 0 0px 0px 0;
	float: left;
}

.mainarea {
	width: auto;
	padding: 1px 0 0 0;
	float: left;
	position:relative;
}

.mainpic {
	background-repeat: no-repeat;
	background-position: top left;
	width: auto;
	border: 2px solid black;
	margin: 0 0 10px 0;
}

.linkArrow { font-size: 14px; color: #ff0000; vertical-align: bottom;}

#caption {
	font: bold 12px/15px Tahoma,Verdana,Arial,sans-serif;
	color: #ffffff;
	clear: left;
	width: auto;
	position: absolute;
	top: 3px;
	left: 3px;
	background-color: #cd2626;
	padding: 5px 10px 5px 10px;
}

#copyright { font-color: pink;}
#photo { font-color: cyan;}

#who { display: inline; padding-right: 5px;}
#where { display: inline; padding-right: 5px;}
#when { display: inline; padding-right: 5px;}



